security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false

        login:
            pattern: ^/api/login_check
            stateless: true
            json_login:
                check_path: /api/login_check
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure

        api:
            pattern: ^/api
            stateless: true
            provider: app_user_provider
            jwt: ~

        main:
            lazy: true
            provider: app_user_provider

    access_control:
        - { path: ^/api/login_check, roles: PUBLIC_ACCESS }
        - { path: ^/api/screenings$, roles: PUBLIC_ACCESS, methods: [GET] }
        - { path: ^/api/rooms$, roles: PUBLIC_ACCESS, methods: [GET] }
        - { path: ^/api/reservations$, roles: PUBLIC_ACCESS, methods: [POST] }
        - { path: ^/api/rooms, roles: ROLE_WORKER, methods: [POST, PUT, DELETE] }
        - { path: ^/api/screenings, roles: ROLE_WORKER, methods: [POST, PUT, DELETE] }
        - { path: ^/api, roles: IS_AUTHENTICATED_FULLY }

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10